In [1]:
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT 
#from psycopg2 import extras as ex
import requests
import pandas as pd
import numpy as np
from tqdm import tqdm
import re
from sklearn.preprocessing import *
import datetime

## prepare data

In [2]:
# connect to the postgresql
db_connection = psycopg2.connect(host='127.0.0.1',dbname="chicago_business_intelligence", user="postgres" , password="12345")
cursor = db_connection.cursor()

In [3]:
# get data
select_data = (
    """
        SELECT * FROM "neighborhood_community_zip";
    """)
# create the table
cursor.execute(select_data)
result_1 = cursor.fetchall();
# set dataframe
df_1 = pd.DataFrame(result_1)
df_1.columns = ["id","geo_id","zipcode","community","neighborhood"]
df_1 = df_1[["zipcode","community","neighborhood"]]
df_1.zipcode = df_1.zipcode.astype("int")
df_1

     zipcode community          neighborhood
0      60601      Loop         Printer's Row
1      60602      Loop         Printer's Row
2      60603      Loop         Printer's Row
3      60604      Loop         Printer's Row
4      60605      Loop         Printer's Row
..       ...       ...                   ...
306    60652   Ashburn              Parkview
307    60652   Ashburn            Scottsdale
308    60652   Ashburn            Wrightwood
309    60656    O'Hare  Schorsch Forest View
310    60666    O'Hare  Schorsch Forest View

[311 rows x 3 columns]

In [4]:
# get data
select_data = (
    """
        SELECT * FROM "building_permits";
    """)
# create the table
cursor.execute(select_data)
result_1 = cursor.fetchall();
# set dataframe
df_2 = pd.DataFrame(result_1)
df_2.columns = ["id","permit_id","permit_type","total_fee","latitude","longitude","zipcode"]
df_2 = df_2[["permit_id","permit_type","zipcode"]]
df_2.zipcode = df_2.zipcode.astype("int")
df_2

    permit_id                   permit_type  zipcode
0     3232764      PERMIT - ELECTRIC WIRING    60631
1     3219030      PERMIT - ELECTRIC WIRING    60615
2     3248507  PERMIT - EASY PERMIT PROCESS    60618
3     3248478  PERMIT - EASY PERMIT PROCESS    60623
4     3248576  PERMIT - EASY PERMIT PROCESS    60629
..        ...                           ...      ...
993   3246709      PERMIT - ELECTRIC WIRING    60607
994   3246907      PERMIT - ELECTRIC WIRING    60647
995   3246877      PERMIT - ELECTRIC WIRING    60604
996   3246819  PERMIT - EASY PERMIT PROCESS    60647
997   3246978  PERMIT - EASY PERMIT PROCESS    60641

[998 rows x 3 columns]

In [5]:
# get data
select_data = (
    """
        SELECT * FROM "public_health_statistics";
    """)
# create the table
cursor.execute(select_data)
result_1 = cursor.fetchall();
# set dataframe
df_3 = pd.DataFrame(result_1)
df_3.columns = ["id","community_area_name","below_poverty_level","per_capita_income","unemployment"]
df_3 = df_3[["community_area_name","per_capita_income"]]
df_3.columns = ["community","per_capita_income"]
df_3

             community  per_capita_income
0          Rogers Park            23714.0
1           West Ridge            21375.0
2               Uptown            32355.0
3       Lincoln Square            35503.0
4         North Center            51615.0
..                 ...                ...
72  Washington Heights            19709.0
73     Mount Greenwood            34221.0
74         Morgan Park            26185.0
75              O'Hare            29402.0
76           Edgewater            33364.0

[77 rows x 2 columns]

## process data

In [6]:
pro_df_1 = df_3.merge(df_1,how='inner', on='community')
pro_df_2 = pro_df_1.merge(df_2,how='inner', on='zipcode')
pro_df_2 = pro_df_2[["permit_id","permit_type","per_capita_income","community"]]
pro_df_2 = pro_df_2.reset_index(drop=True)
pro_df_2

     permit_id                     permit_type  per_capita_income    community
0      3248257    PERMIT - EASY PERMIT PROCESS            23714.0  Rogers Park
1      3247837    PERMIT - EASY PERMIT PROCESS            23714.0  Rogers Park
2      3232986  PERMIT - RENOVATION/ALTERATION            23714.0  Rogers Park
3      3247427  PERMIT - RENOVATION/ALTERATION            23714.0  Rogers Park
4      3247029    PERMIT - EASY PERMIT PROCESS            23714.0  Rogers Park
...        ...                             ...                ...          ...
5827   3243364    PERMIT - EASY PERMIT PROCESS            33364.0    Edgewater
5828   3244597        PERMIT - ELECTRIC WIRING            33364.0    Edgewater
5829   3247085    PERMIT - EASY PERMIT PROCESS            33364.0    Edgewater
5830   3246728    PERMIT - EASY PERMIT PROCESS            33364.0    Edgewater
5831   3247038    PERMIT - EASY PERMIT PROCESS            33364.0    Edgewater

[5832 rows x 4 columns]

## report

In [7]:
rp_loan = pro_df_2[pro_df_2["permit_type"] == "PERMIT - NEW CONSTRUCTION"]
rp_loan = rp_loan[rp_loan["per_capita_income"] < 30000]
rp_loan = rp_loan.reset_index(drop=True)
rp_loan

,permit_id,permit_type,per_capita_income,community
0,3229248,PERMIT - NEW CONSTRUCTION,21375.0,West Ridge
1,3229248,PERMIT - NEW CONSTRUCTION,21375.0,West Ridge
2,3229248,PERMIT - NEW CONSTRUCTION,21375.0,West Ridge
3,3229248,PERMIT - NEW CONSTRUCTION,21375.0,West Ridge
4,3229248,PERMIT - NEW CONSTRUCTION,24941.0,North Park
5,3229248,PERMIT - NEW CONSTRUCTION,24941.0,North Park
6,3216461,PERMIT - NEW CONSTRUCTION,24941.0,North Park
7,3216461,PERMIT - NEW CONSTRUCTION,24941.0,North Park
8,3216461,PERMIT - NEW CONSTRUCTION,20355.0,Albany Park
9,3216461,PERMIT - NEW CONSTRUCTION,20355.0,Albany Park
10,3216461,PERMIT - NEW CONSTRUCTION,20355.0,Albany Park
11,3239080,PERMIT - NEW CONSTRUCTION,26713.0,Irving Park
12,3239080,PERMIT - NEW CONSTRUCTION,26713.0,Irving Park
13,3239080,PERMIT - NEW CONSTRUCTION,26713.0,Irving Park
14,3239080,PERMIT - NEW CONSTRUCTION,26713.0,Irving Park
15,3228200,PERMIT - NEW CONSTRUCTION,29026.0,Logan Square
16,3240381,PERMIT - NEW CONSTRUCTION,15411.0,Hermosa
17,3240380,PERMIT - NEW CONSTRUCTION,15411.0,Hermosa
18,3240381,PERMIT - NEW CONSTRUCTION,15411.0,Hermosa
19,3240380,PERMIT - NEW CONSTRUCTION,15411.0,Hermosa
20,3240381,PERMIT - NEW CONSTRUCTION,29026.0,Logan Square
21,3240380,PERMIT - NEW CONSTRUCTION,29026.0,Logan Square
22,3240381,PERMIT - NEW CONSTRUCTION,13391.0,Humboldt Park
23,3240380,PERMIT - NEW CONSTRUCTION,13391.0,Humboldt Park
24,3234435,PERMIT - NEW CONSTRUCTION,16942.0,Armour Square
25,3234435,PERMIT - NEW CONSTRUCTION,16942.0,Armour Square
26,3156910,PERMIT - NEW CONSTRUCTION,16942.0,Armour Square
27,3156910,PERMIT - NEW CONSTRUCTION,16942.0,Armour Square
28,3156910,PERMIT - NEW CONSTRUCTION,23098.0,Douglas
29,3156910,PERMIT - NEW CONSTRUCTION,23098.0,Douglas
30,3156910,PERMIT - NEW CONSTRUCTION,23098.0,Douglas
31,3156910,PERMIT - NEW CONSTRUCTION,23098.0,Douglas
32,3156910,PERMIT - NEW CONSTRUCTION,23098.0,Douglas
33,3156910,PERMIT - NEW CONSTRUCTION,17577.0,McKinley Park
34,3156910,PERMIT - NEW CONSTRUCTION,12524.0,New City
35,3156910,PERMIT - NEW CONSTRUCTION,12524.0,New City
36,3246864,PERMIT - NEW CONSTRUCTION,18366.0,South Shore
37,3239228,PERMIT - NEW CONSTRUCTION,18366.0,South Shore
38,3238865,PERMIT - NEW CONSTRUCTION,18366.0,South Shore
39,3246864,PERMIT - NEW CONSTRUCTION,17213.0,Greater Grand Crossing
40,3239228,PERMIT - NEW CONSTRUCTION,17213.0,Greater Grand Crossing
41,3238865,PERMIT - NEW CONSTRUCTION,17213.0,Greater Grand Crossing
42,3246864,PERMIT - NEW CONSTRUCTION,17213.0,Greater Grand Crossing
43,3239228,PERMIT - NEW CONSTRUCTION,17213.0,Greater Grand Crossing
44,3238865,PERMIT - NEW CONSTRUCTION,17213.0,Greater Grand Crossing
45,3247967,PERMIT - NEW CONSTRUCTION,24684.0,Garfield Ridge
46,3243266,PERMIT - NEW CONSTRUCTION,24684.0,Garfield Ridge
47,3241218,PERMIT - NEW CONSTRUCTION,24684.0,Garfield Ridge
48,3247967,PERMIT - NEW CONSTRUCTION,24684.0,Garfield Ridge
49,3243266,PERMIT - NEW CONSTRUCTION,24684.0,Garfield Ridge
50,3241218,PERMIT - NEW CONSTRUCTION,24684.0,Garfield Ridge
51,3247967,PERMIT - NEW CONSTRUCTION,24684.0,Garfield Ridge
52,3243266,PERMIT - NEW CONSTRUCTION,24684.0,Garfield Ridge
53,3241218,PERMIT - NEW CONSTRUCTION,24684.0,Garfield Ridge
54,3234022,PERMIT - NEW CONSTRUCTION,29402.0,O'Hare