In [1]:
import psycopg2
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT 
#from psycopg2 import extras as ex
import requests
import pandas as pd
import numpy as np
from tqdm import tqdm
import re
from sklearn.preprocessing import *
import datetime

## prepare data

In [2]:
# connect to the postgresql
db_connection = psycopg2.connect(host='127.0.0.1',dbname="chicago_business_intelligence", user="postgres" , password="12345")
cursor = db_connection.cursor()

In [3]:
# get data
select_data = (
    """
        SELECT * FROM "neighborhood_community_zip";
    """)
# create the table
cursor.execute(select_data)
result_1 = cursor.fetchall();
# set dataframe
df_1 = pd.DataFrame(result_1)
df_1.columns = ["id","geo_id","zipcode","community","neighborhood"]
df_1 = df_1[["zipcode","community","neighborhood"]]
df_1.zipcode = df_1.zipcode.astype("int")
df_1

     zipcode community          neighborhood
0      60601      Loop         Printer's Row
1      60602      Loop         Printer's Row
2      60603      Loop         Printer's Row
3      60604      Loop         Printer's Row
4      60605      Loop         Printer's Row
..       ...       ...                   ...
306    60652   Ashburn              Parkview
307    60652   Ashburn            Scottsdale
308    60652   Ashburn            Wrightwood
309    60656    O'Hare  Schorsch Forest View
310    60666    O'Hare  Schorsch Forest View

[311 rows x 3 columns]

In [4]:
# get data
select_data = (
    """
        SELECT * FROM "taxi_trip_total";
    """)
# create the table
cursor.execute(select_data)
result_1 = cursor.fetchall();
# set dataframe
df_2 = pd.DataFrame(result_1)
df_2.columns = ["id","trip_id","trip_start_timestamp","trip_end_timestamp","pickup_centroid_latitude","pickup_centroid_longitude",
                   "dropoff_centroid_latitude","dropoff_centroid_longitude","pickup_zip_code","dropoff_zip_code"]
df_2 = df_2[["trip_start_timestamp","trip_end_timestamp","pickup_zip_code","dropoff_zip_code"]]
df_2.pickup_zip_code = df_2.pickup_zip_code.astype("int")
df_2.dropoff_zip_code = df_2.dropoff_zip_code.astype("int")
df_2

,trip_start_timestamp,trip_end_timestamp,pickup_zip_code,dropoff_zip_code
0,2022-03-01 00:00:00+08:00,2022-03-01 00:00:00+08:00,60666,60666
1,2022-03-01 00:00:00+08:00,2022-03-01 00:15:00+08:00,60610,60657
2,2022-03-01 00:00:00+08:00,2022-03-01 00:15:00+08:00,60657,60616
3,2022-03-01 00:00:00+08:00,2022-03-01 01:00:00+08:00,60610,60610
4,2022-03-01 00:00:00+08:00,2022-03-01 00:15:00+08:00,60666,60604
...,...,...,...,...
3239,2022-02-28 22:45:00+08:00,2022-02-28 23:00:00+08:00,60607,60603
3240,2022-02-28 22:45:00+08:00,2022-02-28 23:00:00+08:00,60643,60616
3241,2022-02-28 22:45:00+08:00,2022-02-28 23:00:00+08:00,60622,60610
3242,2022-02-28 22:45:00+08:00,2022-02-28 23:00:00+08:00,60610,60604
3243,2022-02-28 22:45:00+08:00,2022-02-28 23:00:00+08:00,60631,60647

## process data

In [5]:
#zipcode
#divide into pickup and dropoff
df_2_pick = df_2[["trip_start_timestamp","trip_end_timestamp","pickup_zip_code"]]
df_2_pick.columns = ["trip_start_timestamp","trip_end_timestamp","zipcode"]
df_2_off = df_2[["trip_start_timestamp","trip_end_timestamp","dropoff_zip_code"]]
df_2_off.columns = ["trip_start_timestamp","trip_end_timestamp","zipcode"]
#merge
df_2_total = df_2_pick.append(df_2_pick)
df_2_total = df_2_total.reset_index(drop=True)
df_2_total["ymd"] = df_2_total["trip_start_timestamp"].apply(lambda x:x.strftime("%Y-%m-%d"))
df_2_total = df_2_total[["ymd","zipcode"]]
df_2_total["help"] = 0
df_2_total_zipcode = df_2_total
df_2_total_zipcode

             ymd  zipcode  help
0     2022-03-01    60666     0
1     2022-03-01    60610     0
2     2022-03-01    60657     0
3     2022-03-01    60610     0
4     2022-03-01    60666     0
...          ...      ...   ...
6483  2022-02-28    60607     0
6484  2022-02-28    60643     0
6485  2022-02-28    60622     0
6486  2022-02-28    60610     0
6487  2022-02-28    60631     0

[6488 rows x 3 columns]

In [6]:
#neighborhood
#divide into pickup and dropoff
df_2_pick = df_2[["trip_start_timestamp","trip_end_timestamp","pickup_zip_code"]]
df_2_pick.columns = ["trip_start_timestamp","trip_end_timestamp","zipcode"]
df_2_off = df_2[["trip_start_timestamp","trip_end_timestamp","dropoff_zip_code"]]
df_2_off.columns = ["trip_start_timestamp","trip_end_timestamp","zipcode"]
#merge
df_2_total = df_2_pick.append(df_2_pick)
df_2_total = df_2_total.reset_index(drop=True)
df_2_total = df_2_total.merge(df_1,how='inner', on='zipcode')
df_2_total["ymd"] = df_2_total["trip_start_timestamp"].apply(lambda x:x.strftime("%Y-%m-%d"))
df_2_total = df_2_total[["ymd","community"]]
df_2_total["help"] = 0
df_2_total_community = df_2_total
df_2_total_community

              ymd    community  help
0      2022-03-01       O'Hare     0
1      2022-03-01       O'Hare     0
2      2022-03-01       O'Hare     0
3      2022-03-01       O'Hare     0
4      2022-03-01       O'Hare     0
...           ...          ...   ...
37233  2022-02-28      Beverly     0
37234  2022-02-28  Morgan Park     0
37235  2022-02-28  Morgan Park     0
37236  2022-02-28  Morgan Park     0
37237  2022-02-28  Morgan Park     0

[37238 rows x 3 columns]

## zip_report

In [7]:
# record
rp_df_2_total = df_2_total_zipcode[['ymd',"zipcode","help"
                        ]].groupby(by=["ymd","zipcode"],dropna=True)["help"].count().reset_index()
rp_df_2_total.columns=['ymd',"zipcode","trip_count"]
rp_df_2_total

           ymd  zipcode  trip_count
0   2022-02-28    60018           2
1   2022-02-28    60601          84
2   2022-02-28    60603         174
3   2022-02-28    60604         406
4   2022-02-28    60605          64
..         ...      ...         ...
58  2022-03-01    60622           2
59  2022-03-01    60638           4
60  2022-03-01    60657           2
61  2022-03-01    60660           2
62  2022-03-01    60666          12

[63 rows x 3 columns]

In [8]:
# predict
avg_df = rp_df_2_total.groupby(by=["zipcode"],dropna=True)["trip_count"].mean().reset_index()
avg_df["predict_date"] = df_2["trip_start_timestamp"][0]+ datetime.timedelta(days=1)
avg_df["predict_date"] = avg_df["predict_date"].apply(lambda x:x.strftime("%Y-%m-%d"))
avg_df.columns = ["zipcode","predict_count","predict_date"]
avg_df

    zipcode  predict_count predict_date
0     60018            2.0   2022-03-02
1     60601           84.0   2022-03-02
2     60603          174.0   2022-03-02
3     60604          204.0   2022-03-02
4     60605           64.0   2022-03-02
5     60607          208.0   2022-03-02
6     60608           70.0   2022-03-02
7     60609           68.0   2022-03-02
8     60610          397.0   2022-03-02
9     60611          132.0   2022-03-02
10    60612           26.0   2022-03-02
11    60613            8.0   2022-03-02
12    60614          226.0   2022-03-02
13    60615           24.0   2022-03-02
14    60616          170.0   2022-03-02
15    60617           68.0   2022-03-02
16    60618          152.0   2022-03-02
17    60619           82.0   2022-03-02
18    60620           30.0   2022-03-02
19    60621           30.0   2022-03-02
20    60622           93.0   2022-03-02
21    60623           58.0   2022-03-02
22    60624           24.0   2022-03-02
23    60625           90.0   2022-03-02
24    60626           60.0   2022-03-02
25    60628           58.0   2022-03-02
26    60629           42.0   2022-03-02
27    60630           30.0   2022-03-02
28    60631           36.0   2022-03-02
29    60632           56.0   2022-03-02
30    60633            2.0   2022-03-02
31    60634            6.0   2022-03-02
32    60636           18.0   2022-03-02
33    60637          124.0   2022-03-02
34    60638          133.0   2022-03-02
35    60639           38.0   2022-03-02
36    60640          126.0   2022-03-02
37    60641           22.0   2022-03-02
38    60642            4.0   2022-03-02
39    60643           26.0   2022-03-02
40    60644           74.0   2022-03-02
41    60645           52.0   2022-03-02
42    60646           20.0   2022-03-02
43    60647          154.0   2022-03-02
44    60649           70.0   2022-03-02
45    60651           52.0   2022-03-02
46    60652           20.0   2022-03-02
47    60653           46.0   2022-03-02
48    60654          100.0   2022-03-02
49    60655            2.0   2022-03-02
50    60657          139.0   2022-03-02
51    60660           55.0   2022-03-02
52    60661           58.0   2022-03-02
53    60666          575.0   2022-03-02
54    60707            2.0   2022-03-02

## community_report

In [9]:
# record
rp_df_2_total = df_2_total_community[['ymd',"community","help"
                        ]].groupby(by=["ymd","community"],dropna=True)["help"].count().reset_index()
rp_df_2_total.columns=['ymd',"community","trip_count"]
rp_df_2_total

           ymd        community  trip_count
0   2022-02-28      Albany Park         360
1   2022-02-28    Armour Square         476
2   2022-02-28          Ashburn         120
3   2022-02-28           Austin         328
4   2022-02-28      Avalon Park         300
..         ...              ...         ...
58  2022-03-01  Near South Side           4
59  2022-03-01   Near West Side          60
60  2022-03-01     North Center           4
61  2022-03-01           O'Hare          12
62  2022-03-01        West Town           8

[63 rows x 3 columns]

In [10]:
# predict
avg_df = rp_df_2_total.groupby(by=["community"],dropna=True)["trip_count"].mean().reset_index()
avg_df["predict_date"] = df_2["trip_start_timestamp"][0]+ datetime.timedelta(days=1)
avg_df["predict_date"] = avg_df["predict_date"].apply(lambda x:x.strftime("%Y-%m-%d"))
avg_df.columns = ["community","predict_count","predict_date"]
avg_df

                 community  predict_count predict_date
0              Albany Park          360.0   2022-03-02
1            Armour Square          476.0   2022-03-02
2                  Ashburn          120.0   2022-03-02
3                   Austin          328.0   2022-03-02
4              Avalon Park          300.0   2022-03-02
5                  Beverly           62.0   2022-03-02
6          Calumet Heights          150.0   2022-03-02
7                  Chatham          112.0   2022-03-02
8             Chicago Lawn          120.0   2022-03-02
9                 Clearing          154.0   2022-03-02
10                 Douglas          570.0   2022-03-02
11                 Dunning           24.0   2022-03-02
12      East Garfield Park           24.0   2022-03-02
13               Edgewater          472.0   2022-03-02
14               Englewood           30.0   2022-03-02
15             Forest Glen          200.0   2022-03-02
16          Garfield Ridge          546.0   2022-03-02
17  Greater Grand Crossing          532.0   2022-03-02
18                 Hermosa          428.0   2022-03-02
19           Humboldt Park          227.0   2022-03-02
20               Hyde Park          148.0   2022-03-02
21             Irving Park          816.0   2022-03-02
22          Jefferson Park           50.0   2022-03-02
23            Lincoln Park         1582.0   2022-03-02
24          Lincoln Square          864.0   2022-03-02
25            Logan Square          302.0   2022-03-02
26                    Loop          602.0   2022-03-02
27           McKinley Park          138.0   2022-03-02
28               Montclare            6.0   2022-03-02
29             Morgan Park          112.0   2022-03-02
30         Near North Side         5560.0   2022-03-02
31         Near South Side          650.0   2022-03-02
32          Near West Side         3410.0   2022-03-02
33                New City          136.0   2022-03-02
34            North Center          438.0   2022-03-02
35          North Lawndale          152.0   2022-03-02
36              North Park          220.0   2022-03-02
37            Norwood Park          280.0   2022-03-02
38                  O'Hare          575.0   2022-03-02
39                 Pullman           58.0   2022-03-02
40             Rogers Park           60.0   2022-03-02
41                Roseland          340.0   2022-03-02
42           South Deering           70.0   2022-03-02
43          South Lawndale          128.0   2022-03-02
44             South Shore          276.0   2022-03-02
45                  Uptown          134.0   2022-03-02
46      Washington Heights          228.0   2022-03-02
47          West Englewood           18.0   2022-03-02
48               West Lawn           42.0   2022-03-02
49              West Ridge          208.0   2022-03-02
50               West Town          732.0   2022-03-02